
h1.payrightH1, h2.payright-h2, h3.payrightH3, h4.payright-h4, h5.payright-h5, h6.payrightH6, p.payright-payment {
    font-family: 'Roboto', sans-serif;
    color: #275f95;
}

h1.payrightH1 {
    font-size: 54px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 400;
    color: #4e84b5;
}

h2.payright-h2 {
    font-size: 20px;
    margin: 0; /* 25px 0 35px; */
    text-align: center;
    font-weight: 500;
}

header {
    padding: 40px 0;
}

#payright-merchant-name {
    text-align: right;
}

.payright-margin {
    text-align: left;
    padding-top: 0;
    padding-bottom: 10px;
}

.payright-deposit {
    text-align: left;
    line-height: 27px;
}

.payright-columns.installments {
    margin-left: 0;
}

h2.modal {
    font-size: 20px;
    margin: 0;
    text-align: center;
    font-weight: 500;
}

h4.payright-h4 {
    font-size: 22px;
    text-align: center;
}

h5.payright-h5 {
    font-weight: 900;
    font-size: 18px;
}

p.payright-payment {
    font-size: 12px;
    text-align: center;
    color: #666;
    margin-bottom: 0;
    margin-top: 0;
}

a {
    color: #275f95;
}

button {
    background-color: #275f95;
    color: #ffffff;
    font-size: 28px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.circleArrow {
    /*
    background: url('../../images/Circle-Arrowx.png');
    background-size: cover;
    padding: 55px 0;
    */
    text-align: center;
    position: relative;
    cursor: pointer;
    padding-bottom: 0;
}

.circleArrow h2.payright-h2 {
    color: #fff;
    line-height: 0;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* tweak for precise centering; details:*/
}

.payright-logo {
    width: 300px !important;
    /*
    vertical-align: middle !important;
    margin: -2px 0 0 .5em !important;
    padding: 0 !important;
    position: relative !important;
    box-shadow: none !important;
    */
}

.circleArrow h2.payright-h2 span.installments {
    font-weight: 700;
    line-height: 30px;
}

span.installments {
    color: #fff;
}

/*
header {
	padding: 40px 0;
}
*/

.payright-container {
    width: auto;
    margin: auto;
    background-color: white;
}

h4.payright-h4.op2 {
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    font-weight: 700;
}

p.payright-paragraph {
    font-size: 18px;
    text-align: center;
    /*new*/
    margin-bottom: 5px;
}

/*new*/
button.payright-button {
    background-color: #275f95;
    color: #ffffff;
    font-size: 28px;
    width: 100%;
    text-align: center;
    padding: 10px;
    text-transform: none;
    border-color: white;
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: normal;
    font-weight: 700;
}

a {
    color: #275f95;
    text-decoration: underline;
}

button {
    background-color: #275f95;
    color: #ffffff;
    font-size: 28px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

/*
header {
	padding: 40px 0;
}
*/

.body-container {
    margin: 0;
}

.payright-container-cart {
    max-width: 600px;
    width: auto;
    margin: auto auto auto 0;
    padding: 0 0 22px 0;
    line-height: 27px;
}

.payright-container {
    /*max-width:600px;*/
    width: auto;
    margin: auto;
}

.payRight_blueStrip {
    background-color: #275f95;
    padding-bottom: 30px;
}

.payRight_blueStrip h2, .payRight_blueStrip p {
    color: #ffffff;
}

.payRight_blueStrip p {
    text-align: left;
}

.payright-num-count {
    font-size: 30px;
    background-color: #ffffff;
    color: #275f95;
    border-radius: 50px;
    float: left;
    padding: 5px 18px;
    margin-right: 10px;
    font-weight: bold;
}

.payright-points p {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
}

.payright-points {
    margin: 30px 0 30px 0 !important;
}

.payright-points-center {
    border-left: 2px solid #b2b3b6;
    border-right: 2px solid #b2b3b6;
}

.info {
    background-color: #b2b3b6;
    margin-bottom: 30px !important;
}

.info p {
    color: #ffffff;
    text-align: left;
    font-size: 16px;
}


@media only screen and (max-width: 770px) {

    .circleArrow h2.payright-h2 {
        line-height: 15px;
        font-size: 15px;
    }

    .circleArrow h2.payright-h2 span.installments {

        font-weight: 700;
        line-height: 30px;
        font-size: 40px;
    }

    h1.payright-h1 {
        text-align: center;
        font-size: 36px;

    }

    h2.payright-h2 {
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    h2.payright-h2.modal {
        text-align: center;
        font-size: 20px;
        padding-bottom: 20px;

    }

    p.payright-payment {
        font-size: 12px;
        line-height: 18px;
        margin-top: 0;
        margin-bottom: 0;
    }

    br {
        display: inline !important;
    }

    button {
        font-size: 22px;
    }

    .payright-image-col {
        text-align: center;
    }

    .payright-image-col img {
        width: 40%;
    }

    .payright-points-in-blue-strip {
        padding-left: 15%;
    }

    .payright-points-center {
        border-left: 0 solid #b2b3b6;
        border-right: 0 solid #b2b3b6;
        border-top: 2px solid #b2b3b6;
        border-bottom: 2px solid #b2b3b6;
    }

    .info p {
        font-size: 12px;
        line-height: 18px;
    }

    #payright-merchant-name {
        text-align: center;
    }

}

@media only screen and (min-width: 771px) {
    .body-container {
        padding: 0 40px 0 40px;
    }

    h2.payright-h2 {
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    h2.payright-h2.hpw {
        padding-bottom: 20px;
        font-size: 32px;
        margin: 25px 0 35px;
        text-align: center;
    }

    .circleArrow h2.payright-h2 span.installments {
        font-weight: 700;
        line-height: 0;
        font-size: 24px;
    }

    .circleArrow h2.payright-h2 {
        line-height: 20px;
        font-size: 16px;
        transform: translate(-50%, -34%);
    }

    h2.payright-h2.modal {
        text-align: center;
        font-size: 20px;
        padding-bottom: 20px;

    }

}

@media screen and (max-width: 768px) {

    img.payright-logo {
        height: auto;
        max-width: 25%;
    }

}

a.payright-tell-me-more {
    color: white;
    text-decoration-line: none;
}

.payright-blue-strip-2 {
    background-color: #275f95;
    padding-bottom: 30px;
}

.payright-blue-strip-2 h2, .payright-blue-strip-2 p {
    color: #ffffff;
}

.payright-blue-strip-2 p {
    text-align: center !important;
    font-weight: 300;
    font-size: 22px;
}

.payright-blue-strip-2 .insideColumns {
    text-align: center !important;
    padding-bottom: 30px;
}

.payright-blue-strip-2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.payright-blue-strip-2 img {
    text-align: center;
    width: 50%;
    margin-bottom: 14px;
}

.payright-blue-strip-2 .payright-top-left-2 {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.payright-blue-strip-2 .payright-bottom-right-2 {
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    margin-top: -1px;
}

.payright-blue-strip-bottom-2 {
    margin-bottom: 30px !important;
    padding: 0 80px 30px 80px;
}

.payright-blue-strip-top-2 {
    padding: 30px 80px 0 80px;
}

.payright-num-count {
    font-size: 30px;
    background-color: #ffffff;
    color: #275f95;
    border-radius: 50px;
    float: left;
    padding: 5px 18px;
    margin-right: 10px;
    font-weight: bold;
}

/*
.payright-points p {
	font-weight: 900;
	font-size: 22px;
	line-height: 28px;
}
*/
/*
.payright-points {
	margin: 30px 0 30px 0 !important;
}
*/
/*
.payright-points-center {
	border-left: 2px solid #b2b3b6;
	border-right: 2px solid #b2b3b6;
}
*/

.payright-info-2 {
    background-color: #b2b3b6;
    margin-bottom: 30px !important;
}

.payright-info-2 p {
    color: #ffffff;
    text-align: left;
    font-size: 16px;
}

@media only screen and (max-width: 770px) {

    .headerLast {
        height: 0;
    }

    .imgPayRight {
        text-align: center;
    }

    .imgPayRight img {
        width: 60%;
    }

    .payright-blue-strip-2 img {
        width: 80%;
    }

    .payright-blue-strip-2 .payright-top-left-2 {
        border-right: 0 solid #fff;
        border-bottom: 0 solid #fff;
    }

    .payright-blue-strip-2 .payright-bottom-right-2 {
        border-left: 0 solid #fff;
        border-top: 0 solid #fff;
        margin-top: 0;
    }

    .payright-blue-strip-bottom-2 {
        margin-bottom: 30px !important;
        padding: 0 30px 30px 30px;
    }

    .payright-blue-strip-top-2 {
        padding: 30px 30px 0 30px;
    }

    .payright-blue-strip-2 .insideColumns {
        border-bottom: 1px solid #ffffff;
    }

    .payright-blue-strip-2 .payright-bottom-right-2 {
        border-bottom: 0 solid #fff;
    }

    .payright-info-2 p {
        font-size: 12px !important;
        line-height: 14px;
    }

}

