@import url("https://fonts.googleapis.com/css?family=Quicksand:700|Roboto:400,700");

.modal-popup.payright.modal-slide .modal-content {
    padding: 0;
}

.payright-modal {
    padding-top: 0
}

.modal-slide .action-close {
    float: right;
    display: block;
    width: 40px;
    height: 40px;
    margin: 15px;
    line-height: 40px;
    text-align: center;
}

.modal-slide .action-close:before {
    vertical-align: middle;
}

#payright-howitworks-modal {
    background-color: #FFF;
    color: #251450;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding: 1rem;
}

#payright-howitworks-modal * {
    box-sizing: border-box;
}

#payright-howitworks-modal header {
    display: flex;
    justify-content: center;
    padding: 1rem 0 2rem;
}

#payright-howitworks-modal header img {
    height: 55px;
}

#payright-howitworks-modal h1, #payright-howitworks-modal h2, #payright-howitworks-modal h3, #payright-howitworks-modal .text, #payright-howitworks-modal .payright-tell-me-more {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    letter-spacing: -0.03em;
}

#payright-howitworks-modal h1, #payright-howitworks-modal .text-big {
    color: #5431ff;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 1rem;
}

#payright-howitworks-modal h1 {
    margin-bottom: 2rem;
}

#payright-howitworks-modal .icon-container {
    background-color: #24004f;
    color: #FFF;
    border-radius: 1rem 1rem 1rem 0;
    padding: 1rem;
    margin: 0 auto 2rem;
}

#payright-howitworks-modal .icon-container svg {
    width: 40px;
    height: 40px;
    display: block;
}

#payright-howitworks-modal .icon-container.light {
    background-color: #eff1f6;
    color: #24004f;
}

#payright-howitworks-modal .icon-container.light svg {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

#payright-howitworks-modal .icon-container.light li .text {
    font-size: 15px;
    line-height: 18px;
}

#payright-howitworks-modal .icon-container ul {
    margin: 0 auto;
    padding: 0;
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#payright-howitworks-modal .icon-container li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 50%;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#payright-howitworks-modal .icon-container li .icon {
    text-align: center;
    flex-grow: 0;
}

#payright-howitworks-modal .icon-container li .text {
    text-align: center;
    padding: 1rem 1rem 0;
    flex-grow: 1;
    font-size: 12px;
    line-height: 15px;
}

@media (min-width: 825px) {
    #payright-howitworks-modal .icon-container li {
        flex-basis: 25%;
    }
}

@media (max-width: 1390px) {
    #payright-howitworks-modal .icon-container br {
        display: none;
    }
}

#payright-howitworks-modal h2 {
    color: #FFF;
    margin: 0 0 8px;
    padding: 0;
    font-size: 24px;
    line-height: 27px;
}

#payright-howitworks-modal h3 {
    color: #24004f;
    font-size: 15px;
    line-height: 15px;
    margin: 0 0 0.5rem;
}

#payright-howitworks-modal .important-info {
    margin: 0 auto 3rem;
    max-width: 800px;
    text-align: center;
}

#payright-howitworks-modal .important-info p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 14.4px;
    letter-spacing: -0.03em;
}

#payright-howitworks-modal .important-info a {
    color: #251450;
    font-weight: 700;
    text-decoration: underline;
}

#payright-howitworks-modal .important-info a:hover {
    text-decoration: none;
}

#payright-howitworks-modal a.payright-tell-me-more {
    background-color: #5431ff;
    color: #FFF;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 4rem;
    border-radius: 20px;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: normal;
    display: inline-block;
    margin-bottom: 2rem;
}

#payright-howitworks-modal a.payright-tell-me-more:hover {
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
    .modal-popup.modal-slide {
        left: auto;
    }

    .modal-popup.modal-slide._inner-scroll .modal-inner-wrap {
        height: 100% !important;
    }
}

@media only screen and (max-width: 1023px) {
    .modal-popup .modal-inner-wrap {
        margin: 3rem auto;
        width: 90%;
    }
}


/*# sourceMappingURL=payright-modal.css.map */
