#payright-logo {
    content: url('images/payrightlogo_rgb.png');
    max-height: 30px;
    /* max-width: 40%; */
    vertical-align: middle;
}

#payright-checkout {
    content: url('images/payrightlogo_rgb.png');
}


#admin-payright {
    content: url('images/payrightlogo_rgb.png');
}

.minicart-payright-text {
    padding-top: 5px;
}

span.payright-logo > img {
    content: url('images/payrightlogo_rgb.png');
    max-height: 30px;
    /* max-width: 40%; */
    vertical-align: middle;
}