#prlogo{
  content: url('images/payrightlogo_rgb.png');
  max-height: 30px;
  /*max-width: 40%;*/
  vertical-align: middle;
}

#payrightcheckout{
 content: url('images/payrightlogo_rgb.png');

}


#adminpayright{
 content: url('images/payrightlogo_rgb.png');
}
.minicartpayright-text {
    padding-top: 5px;

}

span.payright-logo >img{
  content: url('images/payrightlogo_rgb.png');
  max-height: 30px;
  /*max-width: 40%;*/
  vertical-align: middle;
}