<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="payright" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Payright</label>
                <comment>
                    <![CDATA[<strong><img id="admin-payright"/>
                    <p>Enjoy now, pay later! <a href="http://merchant.payright.com.au/" target="_blank">Register here</a></p>]]>
                </comment>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sandbox" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Sandbox</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                </field>
                <field id="accesstoken" translate="label" type="text" sortOrder="8" showInDefault="1"
                       showInWebsite="0" showInStore="1">
                    <label>Access Token</label>
                    <validate>required-entry</validate>
                </field>
                <field id="region" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Region</label>
                    <source_model>Payright\Payright\Model\Config\Source\Region</source_model>
                </field>
                <field id="minamount" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Minimum Amount</label>
                </field>
                <field id="instructions_data" translate="label" type="label" sortOrder="21" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Instructions</label>
                </field>
                <field id="payrightshowpriceproduct" translate="label" type="select" sortOrder="22" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Product Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="payrightshowpricecategory" translate="label" type="select" sortOrder="23" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Category Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="minicart" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Mini Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="bestsellerinstalments" translate="label" type="select" sortOrder="26" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Bestseller Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="crosssellinstalments" translate="label" type="select" sortOrder="27" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Crosssell Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="relatedinstalments" translate="label" type="select" sortOrder="28" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Related Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="upsellinstalments" translate="label" type="select" sortOrder="29" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Upsell Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <!-- payment-group -->
        </section>
    </system>
</config>